@import url("../../../index.css");

.container {
    flex-direction: column;
    gap: 1rem;
}

.box__container {
    flex-direction: column;
    gap: 1rem;
}

.expert__iframe {
    width: 100%;
    height: max-content;
    border: none;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: var(--gray-box);
}

@media (min-width: 1000px) {
    .box__container {
        flex-direction: row;
    }
}
