@import url("../../../index.css");

.prediction__container,
.child__container {
    flex-direction: column;
    gap: 1rem;
}
.prediction__item {
    flex: 1;
    padding: 24px;
    border-radius: 10px;
    background-color: var(--gray-box);
}
.prediction__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prediction__content {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.prediction__content-left,
.prediction__content-right {
    color: var(--light-font);
}

.pheno__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}
.petal__container {
    position: relative;
    width: 200px;
    height: 200px;
}
.petal__center {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
}
.petal {
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
}

.chart__container {
    flex: 0;
}

@media (min-width: 1000px) {
    .prediction__container,
    .child__container {
        flex-direction: row;
    }

    .chart__container {
        flex: 1 0 800px;
    }
}
