@import url("../../index.css");

header {
  --header-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 1.2rem;
}

.logo {
  display: none;
}
.logo__icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--warning);
  cursor: pointer;
}

.links {
  display: flex;
  gap: 1rem;
}
.link {
  position: relative;
  color: var(--gray-font);
  transition: color 0.3s ease;
}
.link:hover {
  color: var(--primary);
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: width 0.3s ease;
}
.link:hover::after {
  width: 100px;
}
.link-active {
  color: var(--primary);
}
.link-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 100px;
  height: 2px;
  background-color: var(--primary);
}

.login {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
}
.login-success {
  color: var(--success);
}
.login-warning {
  color: var(--warning);
  cursor: pointer;
}

@media (min-width: 1000px) {
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
  }
}
