@import url("../../index.css");

.layout__container {
    min-height: 100vh;
}

.logo {
    padding: 12px 0;
    margin: 16px 24px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    font-weight: bold;
}
